.owl-carousel {
    .owl-nav {
        font-size: 18px;
        font-weight: bold;
        font-weight: 700;

        button.owl-prev, 
        button.owl-next {
            padding: .25rem .75rem !important;
        }
    }

    .owl-stage {
        display: flex;
        align-items: center;
    }
}