<div class="widget-wrap">
  {% for section in instance.sections %}
  <div class="w-section">
    {% if section.image %}
    <div class="w-section-image">
      <img src="{{ TimberImage(section.image) }}" alt="">
    </div>
    {% endif %}

    <div class="w-section-title">
      <h3>{{ section.title }}</h3>
    </div>

    {% if section.description %}
    <div class="w-section-description">
      <p>{{ section.description }}</p>
    </div>
    {% endif %}

    <div class="w-section-dishes">
    {% for dish in section.dishes %}
      <div class="w-section-dish-wrap">
        <div class="w-section-dish accent-{{ instance.display.accent }}">
          <div class="w-section-dish-name">
            <h5>{{ dish.name }}</h5>
          </div>
          <div class="w-section-dish-price">${{ dish.price }}</div>
        </div>

        {% if dish.description %}
        <div class="w-section-dish-description">{{ dish.description }}</div>
        {% endif %}
      </div>
    {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Menu",
  "name": "Our Menu",  
  "hasMenuSection": [
    {% for section in instance.sections %}
    {
    "@type": "MenuSection",
    "name": "{{ section.title }}",
    "description": "{{ section.description }}",
    "image": "{{ TimberImage(section.image) }}",
    {% if section.avail_start %}
    "offers": {
      "@type": "Offer",
      "availabilityStarts": "T{{ section.avail_start }}:00",
      "availabilityEnds": "T{{ section.avail_end }}:00"
    },
    {% endif %}
    "hasMenuItem": [
      {% for dish in section.dishes %}
      {
        "@type": "MenuItem",
        "name": "{{ dish.name }}",
        "description": "{{ dish.description }}",
        "offers": {
          "@type": "Offer",
          "price": "{{ dish.price }}",
          "priceCurrency": "USD"
        }
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
</script>