<div class="widget-wrap">
  <div class="owl-carousel owl-theme" id="owl-{{ instance.id }}">
    {% for item in instance.items %}
    <div>
      {% if item.link %}
      <a href="{{ item.link }}">
      {% endif %}
        <img src="{{ TimberImage(item.image).src }}">
      {% if item.link %}
      </a>
      {% endif %}

      {% if instance.display.show_titles %}
      <div>
        {{ item.title }}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery("#owl-{{ instance.id }}").owlCarousel({
    items: {{ instance.display.items }},
    margin: {{ instance.display.margin ? instance.display.margin : 15 }},
    loop: {{ instance.display.loop ? 'true' : 'false' }},
    center: {{ instance.display.center ? 'true' : 'false' }},
    nav: {{ instance.display.nav ? 'true' : 'false' }},
    dots: {{ instance.display.dots ? 'true' : 'false' }},
    autoplay: {{ instance.display.autoplay ? 'true' : 'false' }},
    autoplayTimeout: {{ instance.display.autoplay_timeout ? (instance.display.autoplay_timeout * 1000) : 5000 }},
    autoplayHoverPause: true,
    {% if instance.settings.responsive %}
    responsive: {
      0 : {
        items: {{ instance.display.items_mobile }}
      },
      {{ instance.settings['mobile-width'] }} : {
        items: {{ instance.display.items_tablet }}
      },
      {{ instance.settings['tablet-width'] }} : {
        items: {{ instance.display.items }}
      }
    }
    {% endif %}
  });
});
</script>