@dish_background_color: transparent;

.w-section {
    margin-bottom: 30px;
}

.w-section-title {
    text-align: center;
}

.w-section-dish-wrap {
    margin-bottom: 30px;

    .w-section-dish {
        background-image: radial-gradient(black 1px, transparent 0px);
        background-size: 8px 8px;
        background-repeat: repeat-x;
        background-position: left 16px;
        display: flex;
        justify-content: space-between;
    
        h5 {
            margin: 0;
        }
    
        .w-section-dish-name, 
        .w-section-dish-price {
            background-color: @dish_background_color;
            padding: 0 10px;
        }

        &.accent-none {
            background: none;
        }
    }
    
    .w-section-dish-description {
        padding: 0 10px;
    }
}
